.App-header {
  background-color: #adb5bd;
  color: white;
  padding: 32px;
}

.App-name {
  font-size: 23px;
  font-weight: 550;
}

.App-name img {
  margin-right: 16px;
  margin-bottom: 3px;
}

.App-content{
  margin: 32px;
  width: 914px;
}

.title {
  color: #757575;
  font-weight: 550;
  font-size: 23px;
  margin-top: 65px;
  margin-bottom: 35px;
}
.container {
  max-width: 912px
}

.row {
  background-color: white;
  border-bottom: 1px solid #f1f1f1;
  height: 72px;
  font-size: 16px;
  line-height: 24px;
  color: #505050;
  font-weight: 400;
}

.row-header {
  padding: 16px 0;
  font-size: 14px;
  color: #757575;
  font-weight: 500;
  line-height: 16px;
  height: 48px;
}

.row i {
  font-size: 24px;
  color: #909090;
}

.col-3, .col-4 {
  padding-left: 24px;
}

.fa-trash {
  margin-right: 18px;
  margin-left: 32px;
}

#sorting i {
  font-size: 14px;
  margin-left: 5px;
  color: #505050;
}
#sorting {
  color: #505050;
  font-weight: 600;
}
#no-sorting i {
  display: none;
}

.edit-form {
  max-width: 100%;
  width: 100%;
}

.form-row {
  background-color: white;
  margin: 0 0 10px 0;
  padding-left: 7px;
}
.form-edit {
  margin-top: -2px;
  border-top: 1px solid #f1f1f1;
}

.form-group {
  margin-top: 16px;
}

.form-row>[class*=col-] {
  padding-right: 7px;
  padding-left: 9px;
}

.form-group input {
  border-radius: 0;
  background-color: #f7f7f7;
  height: 40px;
  font-size: 16px;
  line-height: 24px;
  color: #505050;
  border-color: #e4e4e4;
  font-weight: 400;
}
.col-md-3 input, .col-name {
    text-transform: capitalize;
}
.col-md-4 input, .col-mail {
  text-transform: lowercase;
}

#btn-sub {
  color: #808080;
  width: 100px;
  font-size: 16px;
  margin-right: 10px;
}
#btn-sub-active { 
  color: white;
  width: 100px;
  font-size: 16px;
  margin-right: 10px;
  background-color: #007bff;
}

.btn-cancel {
  color: #007bff;
  margin-right: 7px;
}

.btn-primary {
  margin-right: 10px;
}

.btn {
  font-weight: 600;
  height: 40px;
  border-radius: 0;
  font-size: 14px;
}

